@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<ul>
    <li><a asp-page="/Suppliers/Index">Поставщики</a></li>
    <li><a asp-page="/Customers/Index">Покупатели</a></li>
    <li><a asp-page="/Products/Index">Товары</a></li>
    <li><a asp-page="/Sales/Index">Продажи</a></li>
</ul>
